{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/hotel-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hotels</h1>
            <span class="subheading">Book Your Stay</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


<!--        {% for hotel in hotels: %}-->
<!--            <p>{{ hotel.id }}</p>-->
<!--            <p>{{ hotel.name }}</p>-->
<!--            <p>{{ hotel.type }}</p>-->
<!--        {% endfor %}-->
<!--      -->
        {% block page_content %}
          <div class="page-header">
              <h1>Hotel Details</h1>
                  <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Description of Room/Hall</th>
                          <th>Category of Room</th>
                          <th>Total Number Available</th>
                          <th>Already Booked</th>
                          <th>Occupancy of Each Room / Hall</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for hotel in hotels: %}
                            <tr>
                                <td>{{ hotel.id }}</td>
                                <td>{{ hotel.name }}</td>
                                <td>{{ hotel.description }}</td>
                                <td>{{ hotel.category }}</td>
                                <td>{{ hotel.quantity }}</td>
                                <td>{{ hotel.booked }}</td>
                                <td>{{ hotel.occupancy }}</td>
<!--                                <td><img src="{{ url_for('static', filename='img/Room_pics/Gopal_Dham/2bed+1/room.jpeg')}}" width="100" height="140"/></td>-->
                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
        {% endblock %}


      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}