{% include "header.html" %}


<div class="container-fluid about_us">
  <div class="row">
    <div class="col-lg-6">
      <img src="{{url_for('static', filename='img/books1.jpg')}}" alt="">

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>SAMPLAVA, 2023</h1>
            <span class="subheading">SP-3C Annual Congregational Festival</span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <h3>About Us</h3>
      <p>We are here to ............................................</p>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
<!--          <p>This is the Post</p>-->

                    <h2 class="post-title">
                      <p>Srila Prabhupada Congregation Coordination Committee (SP-3C)</p>
                    </h2>
        <!--            <h3 class="post-subtitle">-->
        <!--              <p>This is the subtitle</p>-->
        <!--            </h3>-->
                    <p style="justify-content:center"> SP-3C started under the leadership of HG Sundar Gopal Prabhuji, with a vision to make More Devotees, Happy Devotees & Contributing Devotees</p>
                    <p>Congregational devotees of various parts of Northern & Western Indian, are participants in this forum. The area include, but not limited to, Ghaziabad, Badaun, Bareilly, Rudrapur, Pilukhwa, Delhi (SNS & NS), Gaya, Moradabad, Ludhiana, Kathwada, Sahibabad, Shahjahan pur and Yamuna Nagar</p>
                  </p>


        </div>
        <hr>


      </div>

    </div>
  </div>
</div>



{% include "footer.html" %} 