{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/payment-verify-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Payments</h1>
            <span class="subheading">Verify Booking</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% if bookings_tbv: %}

                <table class="table">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>Email</th>
                          <th>Mobile</th>
                          <th>Hotel</th>
                          <th>Type</th>
                            <th>Rooms Booked</th>
                            <th>Amount Paid</th>
                            <th>Ref Number</th>
                            <th>Transaction Date</th>
                            <th>Verify Booking</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for booking in bookings_tbv: %}

                             <tr>
                                <td>{{ booking.user_name }}</td>
                                 <td>{{ booking.user_email }}</td>
                                 <td>To be configured later</td>
                                <td>{{ booking.hotel }}</td>
                                <td>{{ booking.description }}</td>
                                <td>{{ booking.number_of_room_booked }}</td>
                                 <td>amount to be configured later</td>
                                 <td>{{ booking.utr_receipt_number }}</td>
                                 <td>trnsc date to be configured later</td>
                                 <td>
                                     <form action="{{url_for ('verify_booking')}}" method="post">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                            <input type="hidden" name="booking_id" value="{{ booking.id }}" />
                                            <button type="submit">Verify</button>

                                    </form>
                                 </td>
                             </tr>
                        {% endfor %}
                      </tbody>
                </table>
        {% else: %}

            <p>You have not made any booking</p>

         {% endif %}
      </div>
    </div>
  </div>

  <hr>
{% include "footer.html" %}
{% endblock %}